<?xml version="1.0" encoding="UTF-8"?>
<widget xmlns="http://www.w3.org/ns/widgets"
        xmlns:gap="http://phonegap.com/ns/1.0"
        id="com.phonegap.example"
        versionCode="10"
        version="1.0.0">
   <name>DeustoCoin</name>
   <description>
       Diseño e implementación de una moneda social para recompensar
       las buenas acciones en aras del cumplimiento de los ODS.
   </description>
   <author href="https://morelab.deusto.es/people/members/jorge-el-busto/" email= "jorge.elbusto@opendeusto.es">
       Jorge El Busto Suárez
   </author>
    <DefaultLanguage>es</DefaultLanguage>
</widget>