{% extends "basetabs.html" %} {% block body %}
<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pb-2 mb-3 border-bottom">
  <h1 class="h2">Acciones</h1>
  <div class="btn-toolbar mb-2 mb-md-0">
    <div class="btn-group mr-2">
      <button class="btn btn-sm btn-outline-secondary">Share</button>
      <button class="btn btn-sm btn-outline-secondary">Export</button>
    </div>
  </div>
</div>
<div class="view">
  <div class="jumbotron">
    <h2>¡Hola, {{ name }}!</h2>
    <h2>
      <span style="font-size: 1rem">Estas son las acciones disponibles para ti.</span>
    </h2>
  </div>

</div>
<div id="acciones">
  {% if acciones|length >= 1 %}
  <table class="table">
    <thead>
      <tr>
        <th scope="col">Nombre</th>
        <th scope="col">Empresa</th>
        <th scope="col">Descripción</th>
        <th scope="col">Recompensa (en UDC)</th>
        <th scope="col"> </th>
      </tr>
    </thead>
    <tbody>
      {% for c in acciones %}
      <tr>
        <th scope="row">{{c.nombre}}</th>
        <td>{{c.empresa}}</td>
        <td>{{c.descripcion}}</td>
        <td>{{c.recompensa}}</td>
        <td><a href="{{ url_for('redeem', accion_id=c.id) }}">Registrar acción</a></td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
  {% else %}
  <h4>No hay acciones para mostrar</h4>
  {% endif %}
</div>
{% endblock %}