{% extends "base.html" %}
{% block head %}
<style>
  @media (orientation:portrait) and (max-width: 768px) {
        #acciones{
            table-layout:auto;
            width:100%;
        }
         .showDetails {
             display:block;
         }
		.emp{
			display:none;
		}
		.ind{
			display:none;
		}
		.est{
			display:none;
		}
		.obj{
			display:none;
		}
	}
    @media (orientation:landscape) {
         .showDetails {
             display:none;
         }
	}
	@media (orientation:landscape) and (min-width: 1024px) {
         .showDetails {
             display:none;
         }
	}
</style>
{% endblock %}
{% block body %}
<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pb-2 mb-3 border-bottom">
  <h1 class="h2">{{gettext('Menú principal')}}</h1>
</div>
<div class="view">
  <div class="jumbotron">
    <h2>{{ gettext('Hola') }}, {{ name }}.</h2>
    <h2>
      <span style="font-size: 1rem">{{ gettext('Bienvenido al menú principal.' )}}</span>
    </h2>
    <h2>
      <span style="font-size: 1rem">{{ gettext ('El saldo actual de la universidad es de') }} <b>{{ wallet }}</b> UDC.</span><br />
      {% if user.blockAddr is not none %}
      <p style="font-size:11px;text-align:left;">{{gettext('Tu dirección de Blockchain es')}} {{user.block_addr}}.</p>
      {% endif %}
    </h2>
    <table>
      <tr><td><button class="btn btn-primary btn-large" id="mostrarformacc" style="width:38vw; text-align: center; font-size:70%;">{{ gettext('Crear acción') }}</button></td>&nbsp;<td><button
        class="btn btn-primary btn-large" id="mostraracc" style="width:38vw; text-align: center;  font-size:70%;">{{gettext('Mostrar acciones')}}</button></td></tr>
      <tr>
      &nbsp;<td><button class="btn btn-primary btn-large" id="mostrarformcamp" style="width:38vw; text-align: center;  font-size:70%;">{{ gettext('Crear campaña') }}</button></td>
        &nbsp;<td><button class="btn btn-primary btn-large" id="mostrarcamp" style="width:38vw; text-align: center;  font-size:70%;">{{ gettext('Mostrar campañas') }}</button></td></tr>
      <tr>
      &nbsp;<td><button class="btn btn-primary btn-large" id="crearofertas" style="width:38vw; text-align: center;  font-size:70%;">{{ gettext('Crear oferta')}}</button></td>
      &nbsp;<td><button class="btn btn-primary btn-large" id="mostrarofertas" style="width:38vw; text-align: center;  font-size:70%;">{{ gettext('Mostrar ofertas') }}</button></td></tr></table>
  </div>
  <form style="display: none;" id="campanyasform" method="POST">
    {{ form.csrf_token }}
    <div class="form-group">
      <p>
        <label for="exampleInputEmail1">{{ gettext('Nombre de la campaña') }}</label>

        <br />
        {{form.campaign_name(class="form-control")}}
      </p>
    </div>
    {% if user.role == "Administrador" %}
    <div class="form-group">
      {{ gettext('Empresa') }}
      <br />
      {{form.company(class="form-control")}}
    </div>
    {% endif %}
    <div class="form-group">
      {{gettext('Descripción')}}
      <br />
      {{form.description(class="form-control")}}
    </div>
    <p>
      {{form.create_campaign()}}
    </p>
  </form>
  <form style="display: none;" id="accionesform" method="POST">
    <div class="form-group">
      <p>
        <input type="text" class="form-control" placeholder="{{gettext('Nombre de la acción')}}" name="name" required></input>
      </p>
    </div>
    <div class="form-group">
      <p>
        <input type="text" class="form-control" placeholder="{{gettext('Descripción')}}" name="description" required></input>
      </p>
    </div>
    <div class="form-group">
      <p>
        <input type="number" step="0.01" placeholder="{{gettext('Recompensa por KPI (en UDC)')}}" class="form-control"
          name="reward" required></input>
      </p>
    </div>
    <div class="form-group">
      <p>
        <select class="form-control" name="campaign">
            <option disabled selected>{{gettext('Campaña')}}</option>
            {% for c in campaigns %}
            <option value='{{c.id}}'>{{c.name}}</option>
            {% endfor %}
        </select>
      </p>
    </div>
    <div class="form-group">
      <p>
        <input type="text" class="form-control" placeholder="{{gettext('Indicador de KPI')}}" name="kpi" required></input>
      </p>
    </div>
    <div class="form-group">
      <p>
        <input type="number" step="0.01" placeholder="{{gettext('Objetivo')}}" class="form-control"
          name="target" required></input>
      </p>
    </div>
    <div class="form-group"><input type="submit" name="create_action" value="{{gettext('Crear acción')}}"></div>
  </form>
  <form style="display: none;" id="ofertasform" method="POST">
    {{ form2.csrf_token }}
    <div class="form-group">
      <p>
        <label for="exampleInputEmail1">{{gettext('Nombre de la oferta')}}</label>

        <br />
        {{form2.offer_name(class="form-control")}}
      </p>
    </div>
    {% if user.role == "Administrador" %}
    <div class="form-group">
      {{gettext('Organización')}}
      <br />
      {{form2.company(class="form-control")}}
    </div>
    {% endif %}
    <div class="form-group">
      {{gettext('Descripción')}}
      <br />
      {{form2.description(class="form-control")}}
    </div>
    <div class="form-group">
      {{gettext('Precio')}}
      <br />
      {{form2.price(class="form-control")}}
    </div>
    <p>
      {{form2.create_offer()}}
    </p>
  </form>
</div>
<div id="acciones" style="display: none;">
  {% if actions|length >= 1 %}
  <p style="font-size:75%;" class="showDetails"><b>{{gettext('Gire la pantalla para más detalles.')}}</b></p>
  <table class="table" id="acciones" style="table-layout:auto; font-size:70%;">
    <thead>
      <tr>
        <th scope="col" class="nom">{{gettext('Nombre')}}</th>
        <th scope="col" class="emp">{{gettext('Empresa')}}</th>
        <th scope="col" class="des">{{gettext('Descripción')}}</th>
        <th scope="col" class="rec">{{gettext('Recompensa por KPI')}}</th>
        <th scope="col" class="ind">{{gettext('Indicador')}}</th>
        <th scope="col" class="est">{{gettext('Estado actual')}}</th>
        <th scope="col" class="obj">{{gettext('Objetivo')}}</th>
        <th scope="col" class="qr">{{gettext('Código QR')}}</th>
      </tr>
    </thead>
    <tbody>
      {% for a in actions %}
      <tr>
        <th scope="row" class="nom">{{a.name}}</th>
        <td class="emp">{{a.company}}</td>
        <td class="des">{{a.description}}</td>
        <td class="rec">{{a.reward}} UDC</td>
        <td class="ind">{{a.kpi_indicator}}</td>
        <td class="est">{{a.kpi}}</td>
        <td class="obj">{{a.kpi_target}}</td>
        <td><a href="{{ url_for('qr' ,action_id=a.id) }}" class="qr"><b>{{gettext('Descargar')}}</b></a></td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
  {% else %}
  <h4>{{gettext('No hay acciones para mostrar')}}</h4>
  {% endif %}
</div>
<div id="campanyas" style="display: none;">
  {% if campaigns|length >= 1 %}
  <table class="table" style="table-layout:fixed; font-size:70%;">
    <thead>
      <tr>
        <th scope="col">{{gettext('Nombre')}}</th>
        <th scope="col">{{gettext('Empresa')}}</th>
        <th scope="col">{{gettext('Descripción')}}</th>
      </tr>
    </thead>
    <tbody>
      {% for c in campaigns %}
      <tr>
        <th scope="row">{{c.name}}</th>
        <td>{{c.company}}</td>
        <td>{{c.description}}</td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
  {% else %}
  <h4>{{gettext('No hay campañas para mostrar')}}</h4>
  {% endif %}
</div>
<div id="ofertas" style="display: none;">
  {% if offers|length >= 1 %}
  <table class="table" style="table-layout:fixed; font-size:70%;">
    <thead>
      <tr>
        <th scope="col">{{gettext('Nombre')}}</th>
        <th scope="col">{{gettext('Empresa')}}</th>
        <th scope="col">{{gettext('Descripción')}}</th>
        <th scope="col">{{gettext('Precio')}}</th>
        <th scope="col">{{gettext('Código QR')}}</th>
      </tr>
    </thead>
    <tbody>
      {% for o in offers %}
      <tr>
        <th scope="row">{{o.name}}</th>
        <td>{{o.company}}</td>
        <td>{{o.description}}</td>
        <td>{{o.price}} UDC</td>
        <td><a href="{{ url_for('qr_offers' ,offer_id=o.id) }}"><b>{{gettext('Descargar')}}</b></a></td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
  {% else %}
  <h4>{{gettext('No hay ofertas para mostrar')}}</h4>
  {% endif %}
</div>
<script>
  $(document).ready(function () {
    $("#mostrarformcamp").click(function () {
      $("#campanyasform").show();
      $("#acciones").hide();
      $("#campanyas").hide();
      $("#accionesform").hide();
      $("#ofertas").hide();
      $("#ofertasform").hide();
    });
  });
</script>
<script>
  $(document).ready(function () {
    $("#mostrarcamp").click(function () {
      $("#campanyasform").hide();
      $("#acciones").hide();
      $("#campanyas").show();
      $("#accionesform").hide();
      $("#ofertas").hide();
      $("#ofertasform").hide();
    });
  });
</script>
<script>
  $(document).ready(function () {
    $("#mostrarformacc").click(function () {
      $("#accionesform").show();
      $("#campanyas").hide();
      $("#campanyasform").hide();
      $("#acciones").hide();
      $("#ofertas").hide();
      $("#ofertasform").hide();
    });
  });
</script>
<script>
  $(document).ready(function () {
    $("#mostraracc").click(function () {
      $("#accionesform").hide();
      $("#campanyas").hide();
      $("#campanyasform").hide();
      $("#acciones").show();
      $("#ofertas").hide();
      $("#ofertasform").hide();
    });
  });
</script>
<script>
  $(document).ready(function () {
    $("#mostrarofertas").click(function () {
      $("#accionesform").hide();
      $("#campanyas").hide();
      $("#campanyasform").hide();
      $("#acciones").hide();
      $("#ofertas").show();
      $("#ofertasform").hide();
    });
  });
</script>
<script>
  $(document).ready(function () {
    $("#crearofertas").click(function () {
      $("#accionesform").hide();
      $("#campanyas").hide();
      $("#campanyasform").hide();
      $("#acciones").hide();
      $("#ofertas").hide();
      $("#ofertasform").show();
    });
  });
</script>
{% endblock %}