{% extends "base.html" %}
{% block body %}
<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pb-2 mb-3 border-bottom">
  <h1 class="h2">{{gettext('Campañas')}}</h1>
</div>
<div class="view">
  <div class="jumbotron">
    <h2>{{ gettext('Hola') }}, {{ name }}.</h2>
    <h2>
      <span style="font-size: 1rem">{{ gettext('Bienvenido al menú de campañas.' )}}</span>
    </h2>
    <h2>
      <span style="font-size: 1rem">{{ gettext ('El saldo actual de la universidad es de') }} <b>{{ wallet }}</b> UDC.</span><br />
      {% if user.blockAddr is not none %}
      <p style="font-size:12px;text-align:left;">{{gettext('Tu dirección de Blockchain es')}} {{user.blockHash}}.</p>
      {% endif %}
    </h2>
    <p>&nbsp;<button class="btn btn-primary btn-large" id="mostrarformacc" style="width:38vw; text-align: center;">{{ gettext('Crear acción') }}</button>&nbsp;<button
        class="btn btn-primary btn-large" id="mostraracc" style="width:38vw; text-align: center;">{{gettext('Mostrar acciones')}}</button>
      <br>
      &nbsp;<button class="btn btn-primary btn-large" id="mostrarformcamp" style="width:38vw; text-align: center;">{{ gettext('Crear campaña') }}</button>
      &nbsp;<button class="btn btn-primary btn-large" id="mostrarcamp" style="width:38vw; text-align: center;">{{ gettext('Mostrar campañas') }}</button>
      <br>
      &nbsp;<button class="btn btn-primary btn-large" id="crearofertas" style="width:38vw; text-align: center;">{{ gettext('Crear oferta')}}</button>
    &nbsp;<button class="btn btn-primary btn-large" id="mostrarofertas" style="width:38vw; text-align: center;">{{ gettext('Mostrar ofertas') }}</button></p>
  </div>
  <form style="display: none;" id="campanyasform" method="POST">
    {{ form.csrf_token }}
    <div class="form-group">
      <p>
        <label for="exampleInputEmail1">{{ gettext('Nombre de la campaña') }}</label>

        <br />
        {{form.nomCamp(class="form-control")}}
      </p>
    </div>
    {% if user.role == "Administrador" %}
    <div class="form-group">
      {{ gettext('Empresa') }}
      <br />
      {{form.empresa(class="form-control")}}
    </div>
    {% endif %}
    <div class="form-group">
      {{gettext('Descripción')}}
      <br />
      {{form.desc(class="form-control")}}
    </div>
    <p>
      {{form.crearCamp()}}
    </p>
  </form>
  <form style="display: none;" id="accionesform" method="POST">
    <div class="form-group">
      <p>
        <input type="text" class="form-control" placeholder="{{gettext('Nombre de la acción')}}" name="nombre" required></input>
      </p>
    </div>
    <div class="form-group">
      <p>
        <input type="text" class="form-control" placeholder="{{gettext('Descripción')}}" name="desc" required></input>
      </p>
    </div>
    <div class="form-group">
      <p>
        <input type="number" step="0.01" placeholder="{{gettext('Recompensa por KPI (en UDC)')}}" class="form-control"
          name="recompensa" required></input>
      </p>
    </div>
    <div class="form-group">
      <p>
        <select class="form-control" name="campanya">
            <option disabled selected>{{gettext('Campaña')}}</option>
            {% for c in campanyas %}
            <option value='{{c.id}}'>{{c.nombre}}</option>
            {% endfor %}
        </select>
      </p>
    </div>
    <div class="form-group">
      <p>
        <input type="text" class="form-control" placeholder="{{gettext('Indicador de KPI')}}" name="kpi" required></input>
      </p>
    </div>
    <div class="form-group">
      <p>
        <input type="number" step="0.01" placeholder="{{gettext('Objetivo')}}" class="form-control"
          name="obj" required></input>
      </p>
    </div>
    <div class="form-group"><input type="submit" name="crearAccion" value="{{gettext('Crear acción')}}"></div>
  </form>
  <form style="display: none;" id="ofertasform" method="POST">
    {{ form2.csrf_token }}
    <div class="form-group">
      <p>
        <label for="exampleInputEmail1">{{gettext('Nombre de la oferta')}}</label>

        <br />
        {{form2.nomOferta(class="form-control")}}
      </p>
    </div>
    {% if user.role == "Administrador" %}
    <div class="form-group">
      {{gettext('Organización')}}
      <br />
      {{form2.empresa(class="form-control")}}
    </div>
    {% endif %}
    <div class="form-group">
      {{gettext('Descripción')}}
      <br />
      {{form2.desc(class="form-control")}}
    </div>
    <div class="form-group">
      {{gettext('Precio')}}
      <br />
      {{form2.precio(class="form-control")}}
    </div>
    <p>
      {{form2.crearOf()}}
    </p>
  </form>
</div>
<div id="acciones" style="display: none;">
  {% if acciones|length >= 1 %}
  <table class="table" style="table-layout:auto; font-size:75%;">
    <thead>
      <tr>
        <th scope="col">{{gettext('Nombre')}}</th>
        <th scope="col">{{gettext('Empresa')}}</th>
        <th scope="col">{{gettext('Descripción')}}</th>
        <th scope="col">{{gettext('Recompensa por KPI')}}</th>
        <th scope="col">{{gettext('Indicador')}}</th>
        <th scope="col">{{gettext('Estado actual')}}</th>
        <th scope="col">{{gettext('Objetivo')}}</th>
        <th scope="col">{{gettext('Código QR')}}</th>
      </tr>
    </thead>
    <tbody>
      {% for a in acciones %}
      <tr>
        <th scope="row">{{a.nombre}}</th>
        <td>{{a.empresa}}</td>
        <td>{{a.descripcion}}</td>
        <td>{{a.recompensa}} UDC</td>
        <td>{{a.indicadorKpi}}</td>
        <td>{{a.kpi}}</td>
        <td>{{a.kpiObj}}</td>
        <td><a href="{{ url_for('qr' ,accion_id=a.id) }}"><b>{{gettext('Descargar')}}</b></a></td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
  {% else %}
  <h4>{{gettext('No hay acciones para mostrar')}}</h4>
  {% endif %}
</div>
<div id="campanyas" style="display: none;">
  {% if campanyas|length >= 1 %}
  <table class="table" style="table-layout:fixed; font-size:75%;">
    <thead>
      <tr>
        <th scope="col">{{gettext('Nombre')}}</th>
        <th scope="col">{{gettext('Empresa')}}</th>
        <th scope="col">{{gettext('Descripción')}}</th>
      </tr>
    </thead>
    <tbody>
      {% for c in campanyas %}
      <tr>
        <th scope="row">{{c.nombre}}</th>
        <td>{{c.empresa}}</td>
        <td>{{c.descripcion}}</td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
  {% else %}
  <h4>{{gettext('No hay campañas para mostrar')}}</h4>
  {% endif %}
</div>
<div id="ofertas" style="display: none;">
  {% if ofertas|length >= 1 %}
  <table class="table" style="table-layout:fixed; font-size:75%;">
    <thead>
      <tr>
        <th scope="col">{{gettext('Nombre')}}</th>
        <th scope="col">{{gettext('Empresa')}}</th>
        <th scope="col">{{gettext('Descripción')}}</th>
        <th scope="col">{{gettext('Precio')}}</th>
        <th scope="col">{{gettext('Código QR')}}</th>
      </tr>
    </thead>
    <tbody>
      {% for o in ofertas %}
      <tr>
        <th scope="row">{{o.nombre}}</th>
        <td>{{o.empresa}}</td>
        <td>{{o.descripcion}}</td>
        <td>{{o.precio}} UDC</td>
        <td><a href="{{ url_for('qrOfertas' ,offerId=o.id) }}"><b>{{gettext('Descargar')}}</b></a></td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
  {% else %}
  <h4>{{gettext('No hay ofertas para mostrar')}}</h4>
  {% endif %}
</div>
<script>
  $(document).ready(function () {
    $("#mostrarformcamp").click(function () {
      $("#campanyasform").show();
      $("#acciones").hide();
      $("#campanyas").hide();
      $("#accionesform").hide();
      $("#ofertas").hide();
      $("#ofertasform").hide();
    });
  });
</script>
<script>
  $(document).ready(function () {
    $("#mostrarcamp").click(function () {
      $("#campanyasform").hide();
      $("#acciones").hide();
      $("#campanyas").show();
      $("#accionesform").hide();
      $("#ofertas").hide();
      $("#ofertasform").hide();
    });
  });
</script>
<script>
  $(document).ready(function () {
    $("#mostrarformacc").click(function () {
      $("#accionesform").show();
      $("#campanyas").hide();
      $("#campanyasform").hide();
      $("#acciones").hide();
      $("#ofertas").hide();
      $("#ofertasform").hide();
    });
  });
</script>
<script>
  $(document).ready(function () {
    $("#mostraracc").click(function () {
      $("#accionesform").hide();
      $("#campanyas").hide();
      $("#campanyasform").hide();
      $("#acciones").show();
      $("#ofertas").hide();
      $("#ofertasform").hide();
    });
  });
</script>
<script>
  $(document).ready(function () {
    $("#mostrarofertas").click(function () {
      $("#accionesform").hide();
      $("#campanyas").hide();
      $("#campanyasform").hide();
      $("#acciones").hide();
      $("#ofertas").show();
      $("#ofertasform").hide();
    });
  });
</script>
<script>
  $(document).ready(function () {
    $("#crearofertas").click(function () {
      $("#accionesform").hide();
      $("#campanyas").hide();
      $("#campanyasform").hide();
      $("#acciones").hide();
      $("#ofertas").hide();
      $("#ofertasform").show();
    });
  });
</script>
{% endblock %}