{% extends "base.html" %} {% block body %}
<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pb-2 mb-3 border-bottom">
    {% if user.role == "Administrador" %}
    <h1 class="h2">{{gettext('Editor de campañas - Administrador')}}</h1>
    {% else %}
    <h1 class="h2">{{gettext('Editor de campañas de')}} {{user.organization}}</h1>
    {% endif %}
    <div class="btn-toolbar mb-2 mb-md-0">
        <div class="btn-group mr-2">
            <p>✎ {{gettext('Editar')}} | {{gettext('Eliminar')}} ✖</p>
        </div>
    </div>
</div>
<div class="view">

</div>
<div id="campanyas">
    {% if campaigns|length >= 1 %}
    <table class="table" style="table-layout:fixed; font-size:75%;">
        <thead>
            <tr>
                <th scope="col">{{gettext('Acciones')}}</th>
                <th scope="col">{{gettext('Nombre')}}</th>
                <th scope="col">{{gettext('Empresa')}}</th>
                <th scope="col">{{gettext('Descripción')}}</th>
                <th scope="col">&nbsp;</th>
            </tr>
        </thead>
        <tbody>
            {% for c in campaigns %}
            <tr>
                <td style="text-align: center;">

                    <form action="{{ url_for('campaigns_editor') }}" method="post">
                        <input type="submit" name="edit_campaign" class="{{c.id}}" value="✎">
                        <input type="submit" name="delete_campaign" class="{{c.id}}" value="✖" onclick="return confirm('Are you sure?')">
                        <input value="{{c.id}}" name="id" style="display: none;">
                    </form>
                </td>
                <th scope="row">{{c.name}}</th>
                <td>{{c.company}}</td>
                <td>{{c.description}}</td>
                <td>
                    <form action="{{ url_for('editor', campaign_id=c.id) }}" method="post">
                        <input type="submit" name="view_action" class="{{c.id}}" value="{{gettext('Ver acciones')}}">
                        <input value="{{c.id}}" name="id" style="display: none;">
                    </form>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    {% else %}
    <h4>{{gettext('No hay campañas para mostrar.')}}</h4>
    {% endif %}
</div>
{% endblock %}