{% extends "base.html" %} {% block body %}
<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pb-2 mb-3 border-bottom">
    <h1 class="h2">Editor de acciones de {{campanya.nombre}} ({{campanya.empresa}})</h1>
    <div class="btn-toolbar mb-2 mb-md-0">
        <div class="btn-group mr-2">
            <p>✎ Editar | Eliminar ✖</p>
        </div>
    </div>
</div>
<div class="view">

</div>
<div id="acciones">
    {% if acciones|length >= 1 %}
    <table class="table">
        <thead>
            <tr>
                <th scope="col">Acciones</th>
                <th scope="col">Nombre</th>
                <th scope="col">Empresa</th>
                <th scope="col">Descripción</th>
                <th scope="col">Recompensa (en UDC)</th>
            </tr>
        </thead>
        <tbody>
            {% for a in acciones %}
            <tr>
                <td style="text-align: center;">
                    <form action="{{ url_for('editorAccion', accion_id=a.id) }}" method="post">
                        <input type="submit" name="editarA" class="{{a.id}}" value="✎">
                        <input type="submit" name="eliminarA" class="{{a.id}}" value="✖">
                        <input value="{{a.id}}" name="accion_id" style="display: none;">
                    </form>
                </td>
                <td><b>{{a.nombre}}</b></th>
                <td>{{a.empresa}}</td>
                <td>{{a.descripcion}}</td>
                <td>{{a.recompensa}}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    {% else %}
    <h4>No hay acciones para mostrar</h4>
    {% endif %}
</div>
{% endblock %}