{% extends "base.html" %} {% block body %}
<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pb-2 mb-3 border-bottom">
    <h1 class="h2">{{gettext('Editor de acciones de')}} {{campaign.name}} ({{campaign.company}})</h1>
    <div class="btn-toolbar mb-2 mb-md-0">
        <div class="btn-group mr-2">
            <p>✎ {{gettext('Editar')}} | {{gettext('Eliminar')}} ✖</p>
        </div>
    </div>
</div>
<div class="view">

</div>
<div id="acciones">
    {% if actions|length >= 1 %}
    <table class="table" style="table-layout:fixed; font-size:75%;">
        <thead>
            <tr>
                <th scope="col"></th>
                <th scope="col">{{gettext('Nombre')}}</th>
                <th scope="col">{{gettext('Empresa')}}</th>
                <th scope="col">{{gettext('Descripción')}}</th>
                <th scope="col">{{gettext('Recompensa por KPI (en UDC)')}}</th>
                <th scope="col">{{gettext('Indicador')}}</th>
                <th scope="col">{{gettext('Objetivo')}}</th>
            </tr>
        </thead>
        <tbody>
            {% for a in actions %}
            <tr>
                <td style="text-align: center;">
                    <form method="post">
                        <input type="submit" name="edit_acc" class="{{a.id}}" value="✎">
                        <input type="submit" name="delete_acc" class="{{a.id}}" value="✖">
                        <input value="{{a.id}}" name="action_id" style="display: none;">
                    </form>
                </td>
                <td><b>{{a.name}}</b></th>
                <td>{{a.company}}</td>
                <td>{{a.description}}</td>
                <td>{{a.reward}} UDC</td>
                <td>{{a.kpi_indicator}}</td>
                <td>{{a.kpi_target}}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    {% else %}
    <h4>{{gettext('No hay acciones para mostrar')}}</h4>
    {% endif %}
</div>
{% endblock %}