{% extends "base.html" %} {% block body %}
<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pb-2 mb-3 border-bottom">
    {% if user.role == "Administrador" %}
    <h1 class="h2">Editor de campañas - Administrador</h1>
    {% else %}
    <h1 class="h2">Editor de campañas de {{user.organizacion}}</h1>
    {% endif %}
    <div class="btn-toolbar mb-2 mb-md-0">
        <div class="btn-group mr-2">
            <p>✎ Editar | Eliminar ✖</p>
        </div>
    </div>
</div>
<div class="view">

</div>
<div id="campanyas">
    {% if campanyas|length >= 1 %}
    <table class="table" style="table-layout:fixed; font-size:75%;">
        <thead>
            <tr>
                <th scope="col">Acciones</th>
                <th scope="col">Nombre</th>
                <th scope="col">Empresa</th>
                <th scope="col">Descripción</th>
                <th scope="col">&nbsp;</th>
            </tr>
        </thead>
        <tbody>
            {% for c in campanyas %}
            <tr>
                <td style="text-align: center;">

                    <form action="{{ url_for('editorC') }}" method="post">
                        <input type="submit" name="editar" class="{{c.id}}" value="✎">
                        <input type="submit" name="eliminar" class="{{c.id}}" value="✖">
                        <input value="{{c.id}}" name="id" style="display: none;">
                    </form>
                </td>
                <th scope="row">{{c.nombre}}</th>
                <td>{{c.empresa}}</td>
                <td>{{c.descripcion}}</td>
                <td>
                    <form action="{{ url_for('editor', campanya_id=c.id) }}" method="post">
                        <input type="submit" name="verAcc" class="{{c.id}}" value="Ver acciones">
                        <input value="{{c.id}}" name="id" style="display: none;">
                    </form>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    {% else %}
    <h4>No hay campañas para mostrar</h4>
    {% endif %}
</div>
{% endblock %}