{% extends "basetabs.html" %} {% block body %}
<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pb-2 mb-3 border-bottom">
  <h1 class="h2">{{empresa}} - Campañas</h1>
</div>
<div id="campanyas">
  <p>Estas son las campañas que promueve {{empresa}}.
  </p>

  {% if campanyas|length >= 1 %}
  {% for c in campanyas %}
  <!-- <th scope="row">{{c.nombre}}</th> -->
  <div class="{{c.empresa}}">
    <h5>{{c.nombre}}</h5>
    <p>{{c.descripcion}}</p>
  </div>
  
  {% endfor %}
  {% else %}
  <h4>No hay campañas para mostrar</h4>
  {% endif %}
</div>

{% endblock %}