{% extends "base.html" %}
{% block head %}
<style>
  @media (min-width:768px)  {
   .plot {
        width: 768px;
        height: 576px;
    }
   }
   @media (max-width:768px)  {
   .plot {
        width: 100%;
    }
   }
</style>
{% endblock %}

{% block body %}
<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pb-2 mb-3 border-bottom">
  <h1 class="h2">{{company}} - {{gettext('Campañas')}}</h1>
</div>
<div id="campanyas">
  <p>{{gettext('Estas son las campañas que promueve')}} {{company}}.
  </p>

  {% if campaigns|length >= 1 %}
  {% for c in campaigns %}
  <div class="{{c.company}}">
    <h5>{{c.name}}</h5>
    <p>{{c.description}}</p>
    {% for a in actions %}
    {% if a.campaign_id == c.id %}
        <img src="/plot{{a.id}}.png" class="plot">
    {% endif %}
    {% endfor %}
    <!--<img src="/plot{{c.id}}.png" width="640" height="480">-->
  </div>
  
  {% endfor %}
  {% else %}
  <h4>{{gettext('No hay campañas para mostrar.')}}</h4>
  {% endif %}
</div>

{% endblock %}