{% extends "basecampaign.html" %} {% block body %}
<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pb-2 mb-3 border-bottom">
  <h1 class="h2">Campañas</h1>
  <div class="btn-toolbar mb-2 mb-md-0">
    <div class="btn-group mr-2">
      <button class="btn btn-sm btn-outline-secondary">Share</button>
      <button class="btn btn-sm btn-outline-secondary">Export</button>
    </div>
  </div>
</div>
<div class="view">
  <div class="jumbotron">
    <h2>¡Hola, {{ name }}!</h2>
    <h2>
      <span style="font-size: 1rem">Bienvenido al menú de campañas.</span>
    </h2>
    <h2>
      <span style="font-size: 1rem">El saldo actual de la universidad es de <b>{{ wallet }}</b> UDC.</span><br />
    </h2>
    <p><button class="btn btn-primary btn-large" id="mostrarformcamp">Crear campaña</button>&nbsp;<button
        class="btn btn-primary btn-large" id="mostrarcamp">Mostrar campañas</button></p>
  </div>
  <form style="display: none;" id="campanyasform" method="POST">
    {{ form.csrf_token }}
    <div class="form-group">
      <p>
        <label for="exampleInputEmail1">{{form.nomCamp.label}}</label>

        <br />
        {{form.nomCamp(class="form-control")}}
      </p>
    </div>
    <div class="form-group">
      {{form.desc.label}}
      <br />
      {{form.desc(class="form-control")}}
    </div>
    <div class="form-group">
      {{form.recompensa.label}}
      <br />
      {{form.recompensa(class="form-control")}}
    </div>
    <p>
      {{form.submit()}}
    </p>
  </form>
</div>
<div id="campanyas" style="display: none;">
  {% if campanyas|length >= 1 %}
  <table class="table">
    <thead>
      <tr>
        <th scope="col">Nombre</th>
        <th scope="col">Empresa</th>
        <th scope="col">Descripción</th>
        <th scope="col">Recompensa (en UDC)</th>
        <th scope="col">Código QR</th>
      </tr>
    </thead>
    <tbody>
      {% for c in campanyas %}
      <tr>
        <th scope="row">{{c.nombre}}</th>
        <td>{{c.empresa}}</td>
        <td>{{c.descripcion}}</td>
        <td>{{c.recompensa}}</td>
        <td><a href="{{ url_for('qr' ,campanya_id=c.id) }}">Descargar</a></td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
  {% else %}
  <h4>No hay campañas para mostrar</h4>
  {% endif %}
</div>

<script>
  $(document).ready(function () {
    $("#mostrarformcamp").click(function () {
      $("#campanyasform").show();
    });
  });
</script>
<script>
  $(document).ready(function () {
    $("#mostrarcamp").click(function () {
      $("#campanyas").show();
    });
  });
</script>
{% endblock %}