{% extends "base.html" %} {% block body %}
<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pb-2 mb-3 border-bottom">
    <h1 class="h2">{{gettext('Editor de ofertas')}}</h1>
</div>
<div class="view">
    <div class="jumbotron">
        <h2>{{gettext('Oferta')}} {{offer.id}}: {{offer.name}}</h2>
    </div>
    <form id="editoroferta" action="{{ url_for('offer_editor',offer_id=offer.id) }}" method="POST">
        <div class="form-group">
            <p>
                <input type="text" class="form-control" placeholder="{{gettext('Nombre')}}" name="name"
                    value='{{offer.name}}' required></input>
            </p>
        </div>
        <div class="form-group">
            <p>
                <input type="text" class="form-control" placeholder="{{gettext('Descripción')}}" name="description"
                    value="{{offer.description}}" required></input>
            </p>
        </div>
        <div class="form-group">
            <p>
                <input type="text" class="form-control" placeholder="{{gettext('Precio')}}" name="price"
                    value="{{offer.price}}" required></input>
            </p>
        </div>
        <p>
            <input type="submit" formmethod="POST" value="{{gettext('Actualizar')}}" class="btn btn-primary btn-large">
            </input>
        </p>
    </form>
</div>
{% endblock %}