{% extends "base.html" %} {% block body %}
<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pb-2 mb-3 border-bottom">
    <h1 class="h2">{{gettext('Acciones')}}</h1>
</div>
<div class="view">
    <div class="bg-light card px-5 py-5 mb-5">
        <h2>Acción {{action.id}}: {{action.name}}</h2>
    </div>
    <form id="editorcamp" action="{{ url_for('action_editor' ,action_id=action.id) }}" method="POST">
        <div class="form-group">
            <p>
                <input type="text" class="form-control" placeholder="{{gettext('Nombre')}}" name="name"
                    value='{{action.name}}' required></input>
            </p>
        </div>
        <div class="form-group">
            <p>
                <input type="text" class="form-control" placeholder="{{gettext('Descripción')}}" name="description"
                    value="{{action.description}}" required></input>
            </p>
        </div>
        <div class="form-group">
            <p>
                <input type="text" placeholder="{{gettext('Recompensa por KPI (en UDC)')}}" class="form-control"
                    name="reward" value="{{action.reward}}" required></input>
            </p>
        </div>
        <div class="form-group">
            <p>
                <input type="text" placeholder="{{gettext('Indicador')}}" class="form-control" name="kpi_indicator"
                    value="{{action.kpi_indicator}}" required></input>
            </p>
        </div>
        <div class="form-group">
            <p>
                <input type="text" placeholder="{{gettext('Objetivo')}}" class="form-control" name="kpi_target"
                    value="{{action.kpi_target}}" required></input>
            </p>
        </div>
        <p>
            <input type="button" formmethod="POST" value="{{gettext('Actualizar')}}" name="update_action"
                class="btn btn-primary btn-large" id="update-button">
            </input>
        </p>
    </form>
</div>
<div class="modal fade" id="update-modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Confirm action</h5>
                <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
            </div>
            <div class="modal-body">Do you want to update the action?</div>
            <div class="modal-footer">
                <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancel</button>
                <a class="btn btn-primary" id="update-submit" href="/action">Update</a>
            </div>
        </div>
    </div>
</div>
<script>
    $('#update-button').click(function (e) {
        if ($('#editorcamp').valid()) {
            $('#update-modal').modal('show');
        }
    });
</script>
<script>
    $('#update-submit').click(function (e) {
        e.preventDefault();
        let input = $('<input>')
            .attr("type", "hidden")
            .attr('name', 'update_action');
        $('#editorcamp').append(input);
        $('#editorcamp').submit();
    });
</script>
{% endblock %}