{% extends "base.html" %} {% block body %}
<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pb-2 mb-3 border-bottom">
    <h1 class="h2">{{gettext('Editor de campañas')}}</h1>
</div>
<div class="view">
    <div class="bg-light card shadow px-5 py-5 mb-5">
        <h2>{{gettext('Campaña')}} {{campaign.id}}: {{campaign.name}}</h2>
    </div>
    <form id="editorcamp" action="{{ url_for('campaign_editor',campaign_id=campaign.id) }}" method="POST">
        <div class="form-group">
            <p>
                <input type="text" class="form-control" placeholder="{{gettext('Nombre')}}" name="name"
                    value='{{campaign.name}}' required></input>
            </p>
        </div>
        <div class="form-group">
            <p>
                <input type="text" class="form-control" placeholder="{{gettext('Descripción')}}" name="description"
                    value="{{campaign.description}}" required></input>
            </p>
        </div>
        <p>
            <input type="submit" formmethod="POST" value="{{gettext('Actualizar')}}" class="btn btn-primary btn-large" 
                onclick="return confirm('Are you sure?')">
            </input>
        </p>
    </form>
</div>
<div id="campanyas" style="display: none;">
    {% if campaigns|length >= 1 %}
    <table class="table" style="table-layout:fixed; font-size:75%;">
        <thead>
            <tr>
                <th scope="col">{{gettext('Nombre')}}</th>
                <th scope="col">{{gettext('Empresa')}}</th>
                <th scope="col">{{gettext('Descripción')}}</th>
            </tr>
        </thead>
        <tbody>
            {% for c in campaigns %}
            <tr>
                <th scope="row">{{c.name}}</th>
                <td>{{c.company}}</td>
                <td>{{c.description}}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    {% else %}
    <h4>{{gettext('No hay campañas para mostrar.')}}</h4>
    {% endif %}
</div>

<script>
    $(document).ready(function () {
        $("#mostrarformcamp").click(function () {
            $("#campanyasform").show();
        });
    });
</script>
<script>
    $(document).ready(function () {
        $("#mostrarcamp").click(function () {
            $("#campanyas").show();
        });
    });
</script>
{% endblock %}