{% extends "base.html" %} {% block body %}
<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pb-2 mb-3 border-bottom">
    <h1 class="h2">Historial de transacciones</h1>
</div>
<div class="view">
    <div class="jumbotron">
        {% if user.role == "Alumno" %}
        <h2>Historial de transacciones de {{ name }}</h2>
        {% else %}
        <h2>Historial de transacciones de DeustoCoin</h2>
        {% endif %}
    </div>
</div>
<div id="transacciones">
    {% if transacciones|length >= 1 %}
    <table class="table">
        <thead>
            <tr>
                <th scope="col">Fecha</th>
                <th scope="col">Remitente</th>
                <th scope="col">Destinatario</th>
                <th scope="col">Campaña</th>
                <th scope="col">Cantidad</th>
                <th scope="col">Prueba</th>
                <th scope="col">2ª prueba <i>(Opcional)</i></th>
            </tr>
        </thead>
        <tbody>
            {% for t in transacciones %}
            <tr>
                <th scope="row">{{t.fecha}}</th>
                <td>{{t.remitente}}</td>
                <td>{{t.destinatario}}</td>
                <td>{{t.campanya}}</td>
                <td>{{t.cantidad}} UDC</td>
                {% if t.imgHash != "" %}
                <td><a href="http://ipfs.io/ipfs/{{t.imgHash}}">Ver imagen</a></td>
                {% else %}
                <td>No hay imagen</td>
                {% endif %}
                {% if t.proof != "" %}
                <td><a href="{{t.proof}}">Ver prueba</a></td>
                {% else %}
                <td>No hay URL adicional</td>
                {% endif %}
            </tr>
            {% endfor %}
        </tbody>
    </table>
    {% else %}
    <h4>No hay transacciones para mostrar</h4>
    <p>El usuario no ha estado involucrado en ninguna transacción.</p>
    {% endif %}
</div>
{% endblock %}