{% extends "base.html" %}
{% block head %}
<style>
    @media (orientation:portrait) and (max-width: 768px) {
        #tabletrans {
            table-layout: auto;
            font-size: 3vw;
            width: 100%;
        }

        .showDetails {
            display: block;
        }

        .rem {
            display: none;
        }

        .dest {
            display: none;
        }

        .img {
            display: none;
        }

        .proof {
            display: none;
        }
    }

    @media (orientation:landscape) {
        #tabletrans {
            table-layout: auto;
            font-size: 1.2vw;
            width: 100%;
        }

        .showDetails {
            display: none;
        }
    }

    @media (orientation:landscape) and (min-width: 1024px) {
        #tabletrans {
            table-layout: auto;
            font-size: 0.8vw;
            width: 100%;
        }

        .showDetails {
            display: none;
        }
    }
</style>
{% endblock %}
{% block body %}
<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pb-2 mb-3 border-bottom">
    <h1 class="h2">{{gettext('Historial de transacciones')}}</h1>
</div>
<div class="view">
    <div class="bg-light card px-5 py-5 mb-5">
        {% if user.role == "Colaborador" %}
        <h2>{{gettext('Historial de transacciones de')}} {{ name }}</h2>
        {% elif user.role == "Promotor" %}
        <h2>{{gettext('Historial de transacciones de')}} {{ user.organization }}</h2>
        {% else %}
        <h2>{{gettext('Historial de transacciones de DeustoCoin')}}</h2>
        {% endif %}
    </div>
</div>
<div id="transacciones" style="width:100%;">
    <p style="font-size:75%;" class="showDetails"><b>{{gettext('Gire la pantalla para más detalles.')}}</b></p>
    {% if transactions|length >= 1 %}
    <table class="table" id="tabletrans">
        <thead>
            <tr>
                <th scope="col" class="fecha">{{gettext('Fecha')}}</th>
                <th scope="col" class="rem">{{gettext('Remitente')}}</th>
                <th scope="col" class="dest">{{gettext('Destinatario')}}</th>
                <th scope="col" class="camp">{{gettext('Asunto')}}</th>
                <th scope="col" class="cantidad">{{gettext('Cantidad')}}</th>
                <th scope="col" class="img">{{gettext('Imagen')}}</th>
                <th scope="col" class="proof">{{gettext('Link de verificación')}} (<i>{{gettext('Opcional')}}</i>)</th>
            </tr>
        </thead>
        <tbody>
            {% for t in transactions %}
            <tr>
                <th scope="row" class="fecha">{{t.date}}</th>
                <td class="rem">{{t.sender}}</td>
                <td class="dest">{{t.receiver}}</td>
                {% if t.campaign != "{{gettext('Envío de UDCoins')}}" or "{{gettext('Pago por oferta')}}" not in
                t.campaign %}
                <td class="camp"><a href="{{ url_for('company', company=t.sender)}}"><b>{{gettext(t.campaign)}}</b></a>
                </td>
                {% else %}
                <td class="camp">{{gettext(t.campaign)}}</td>
                {% endif %}
                <td class="cantidad">{{t.quantity}} UDC</td>
                {% if t.img_hash != "" %}
                <td class="img"><a href="http://ipfs.io/ipfs/{{t.img_hash}}"><b>{{gettext('Ver imagen')}}</b></a></td>
                {% else %}
                <td class="img">{{gettext('No hay imagen')}}</td>
                {% endif %}
                {% if t.proof != "" %}
                <td class="proof"><a href="{{t.proof}}"><b>{{gettext('Ver verificación')}}</b></a></td>
                {% else %}
                <td class="proof">{{gettext('No hay URL adicional')}}</td>
                {% endif %}
            </tr>
            {% endfor %}
        </tbody>
    </table>
    {% else %}
    <h4>{{gettext('No hay transacciones para mostrar')}}</h4>
    <p>{{gettext('El usuario no ha estado involucrado en ninguna transacción.')}}</p>
    {% endif %}
</div>
{% endblock %}