{% extends "basetabs.html" %} {% block body %}
<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pb-2 mb-3 border-bottom">
    <h1 class="h2">Historial de transacciones</h1>
    <div class="btn-toolbar mb-2 mb-md-0">
        <div class="btn-group mr-2">
            <button class="btn btn-sm btn-outline-secondary">Share</button>
            <button class="btn btn-sm btn-outline-secondary">Export</button>
        </div>
        <button class="btn btn-sm btn-outline-secondary dropdown-toggle">
            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
                stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                class="feather feather-calendar">
                <rect x="3" y="4" width="18" height="18" rx="2" ry="2"></rect>
                <line x1="16" y1="2" x2="16" y2="6"></line>
                <line x1="8" y1="2" x2="8" y2="6"></line>
                <line x1="3" y1="10" x2="21" y2="10"></line>
            </svg>
            This week
        </button>
    </div>
</div>
<div class="view">
    <div class="jumbotron">
        <h2>Historial de transacciones de {{ name }}</h2>
        <h2>
        </h2>
    </div>
</div>
<div id="transacciones">
    {% if transacciones|length >= 1 %}
    <table class="table">
        <thead>
            <tr>
                <th scope="col">Fecha</th>
                <th scope="col">Código</th>
                <th scope="col">Remitente</th>
                <th scope="col">Destinatario</th>
                <th scope="col">Cantidad</th>

            </tr>
        </thead>
        <tbody>
            {% for t in transacciones %}
            <tr>
                <th scope="row">{{t.fecha}}</th>
                <td>{{t.transHash}}</td>
                <td>{{t.remitente}}</td>
                <td>{{t.destinatario}}</td>
                <td>{{t.cantidad}}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    {% else %}
    <h4>No hay transacciones para mostrar</h4>
    <p>El usuario no ha estado involucrado en ninguna transacción.</p>
    {% endif %}
</div>
{% endblock %}