<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
  <meta name="description" content="" />
  <meta name="author" content="" />
  <link rel="icon" href="{{ url_for('static', filename='icon/deustoCoin.ico') }}" />
  <script src="https://code.jquery.com/jquery-1.9.1.min.js"></script>
  <title>DeustoCoin - {{gettext('Registro')}}</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
    integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
    integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
    crossorigin="anonymous"></script>

  <link href="{{ url_for('static', filename='css/floating-labels.css') }}" rel="stylesheet" />
  <meta name="google-signin-scope" content="profile email" />
  <meta name="google-signin-client_id"
    content="543251693947-uuomjheqpj6piup81pvbahrc3nu25o9m.apps.googleusercontent.com" />
  <script src="https://apis.google.com/js/platform.js" async defer></script>
</head>

<body>
  <form class="form-signin">
    <div class="text-center mb-4">
      <img class="mb-4" src="{{ url_for('static', filename='icon/deustoCoin.ico') }}" alt="" width="72" height="72" />
      <h1 class="h3 mb-3 font-weight-normal">DeustoCoin</h1>
      <p>
        {{gettext('DeustoCoin pretende sacar el máximo partido de la tecnología Blockchain y llevarla al ámbito universitario, promoviendo un estilo de vida sostenible y respetuoso con el medio ambiente.')}}
      </p>
      <form id="registerform" action="/register" method="POST">
        <div class="form-group">
          <p>
            <input type="text" class="form-control" placeholder="{{gettext('Nombre y apellidos')}}" name="nombre"
              value='{{nombre}}'></input>
          </p>
        </div>
        <div class="form-group">
          <p>
            <input type="email" class="form-control" placeholder="{{gettext('Correo electrónico')}}" name="email"
              value="{{email}}"></input>
          </p>
        </div>
        <div class="form-group">
          <p>
            <input type="text" placeholder="{{gettext('Dirección blockchain')}}" class="form-control" name="blockAddr"></input>
          </p>
        </div>
        <div class="form-group">
          <p>
            <input type="text" placeholder="{{gettext('Clave privada')}}" class="form-control" name="pk"></input>
          </p>
        </div>
        <div class="form-group">
          <p>
            <input type="text" class="form-control" placeholder="{{gettext('Organización')}}" name="organizacion" id="organizacion"
              value="Universidad de Deusto">
          </p>
        </div>
        <div class="form-group">
          <p>

            <select class="form-control" name="rol" id="userrole">
              <option value="Colaborador">{{gettext('Colaborador')}}</option>
              <option value="Promotor">{{gettext('Promotor')}}</option>
              <option value="Administrador">{{gettext('Administrador')}}</option>
          </p>
          <br>
        </div>

        <p>
          <input type="submit" formmethod="POST" value="{{gettext('Regístrate')}}" class="btn btn-primary btn-large">
          </input>
        </p>
      </form>
    </div>
  </form>
  <script>
    $("#userrole").on("change", function () {
      var value = $(this).val();
      console.log(value);
      if (value == "Promotor") {
        $('#organizacion').val("");
      } else {
        $('#organizacion').val("Universidad de Deusto");
      };
    });
  </script>
  <script>
    function onSignIn(googleUser) {
      var profile = googleUser.getBasicProfile();
      console.log("ID: " + profile.getId());
      console.log("Full Name: " + profile.getName());
      console.log("Given Name: " + profile.getGivenName());
      console.log("Family Name: " + profile.getFamilyName());
      console.log("Image URL: " + profile.getImageUrl());
      console.log("Email: " + profile.getEmail());

      var id_token = googleUser.getAuthResponse().id_token;
      console.log("ID Token: " + id_token);
    }
  </script>
</body>
<footer class="page-footer">
  <p class="mt-5 mb-3 text-muted text-center">&copy; 2020-2021 - MORELab</p>
</footer>

</html>