{% extends "base.html" %}
{% block body %}
<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pb-2 mb-3 border-bottom">
  <h1 class="h2">{{gettext('Subir imagen')}}</h1>
</div>
<div class="view">
  <div class="bg-light card shadow px-5 py-5 mb-5">
    <h2>{{gettext('Verificando acción')}} - {{c_reward.name}}</h2>
    <p>{{gettext('Tienes que subir una imagen que corrobore que la acción gracias a la cual pretendes ser recompensado
      es verídica.')}}</p>
    <br>
    <form action="/upload" method="POST" enctype="multipart/form-data" name="fileform" id="uploadfile">
      <div class="form-group">
        <input type="file" id="filename" name="filename" style="width:100%;" required>
      </div>
      <div class="form-group">
        <h6><b>{{c_reward.kpi_indicator}}</b>&nbsp;<input type="text" id="kpi" name="kpi" required></h6>
      </div>
      <div class="form-group">
        <h6><b>{{gettext('URL de verificación')}}</b>(<i>{{gettext('Opcional')}}</i>)&nbsp;<input type="text" id="proof"
            name="proof"></h6>
      </div>
      <input type="submit" onclick="return confirm('Are you sure?')">
    </form>
  </div>

  {% endblock %}