{% extends "base.html" %} {% block body %}
<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pb-2 mb-3 border-bottom">
  <h1 class="h2">Subir imagen</h1>
</div>
<div class="view">
  <div class="jumbotron">
    <h2>Verificando acción - {{cReward.nombre}}</h2>
    <p>Tienes que subir una imagen que corrobore que la acción gracias a la cual pretendes ser recompensado es verídica.</p>
    <br>
    <form action="/upload" method="POST" enctype="multipart/form-data" name="fileform" id="uplaodfile">
      <div class="form-group">
        <input type="file" id="filename" name="filename" required>
      </div>
      <div class="form-group">
        <h6><b>{{cReward.indicadorKpi}}</b>&nbsp;<input type="text" id="kpi" name="kpi" required></h6>
      </div>
      <div class="form-group">
        <h6><b>URL de prueba</b><i>(Opcional)</i>&nbsp;<input type="text" id="proof" name="proof"></h6>
      </div>
      <input type="submit">
    </form>
  </div>

{% endblock %}