{% extends "basetabs.html" %} {% block body %}
<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pb-2 mb-3 border-bottom">
  <h1 class="h2">¡Enhorabuena!</h1>
</div>
<div class="view">
  <div class="jumbotron">
    <h2>Subir imagen</h2>
    <p>Tienes que subir una imagen que corrobore que la acción gracias a la cual pretendes ser recompensado es verídica.</p>
    <br>
    <form action="/upload" method="POST" enctype="multipart/form-data" name="fileform" id="uplaodfile">
      <input type="file" id="filename" name="filename">
      <input type="text" id="kpi" name="kpi">
      <input type="submit">
    </form>
  </div>

{% endblock %}