{% extends "basetabs.html" %} {% block body %}
<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pb-2 mb-3 border-bottom">
  <h1 class="h2">Cartera</h1>
</div>
<div class="view">
  <div class="jumbotron">
    <h2>¡Hola, {{ name }}!</h2>
    <h2>
      <span style="font-size: 1rem">Número de bloque: <b>{{w3.eth.blockNumber}}</b></span>
    </h2>
    <h2>
      <span style="font-size: 1rem">Tu saldo actual es de <b>{{ wallet }}</b> UDC.</span><br />
    </h2>
    <p><button class="btn btn-primary btn-large" id="mostrarformudc">Enviar UDC</button></p>
  </div>
  <form style="display: none;" id="udcform" method="POST">
    {{ form.csrf_token }}
    <div class="form-group">
      <p>
        <label for="exampleInputEmail1">{{form.destino.label}}</label>
        <br />
        {{form.destino(class="form-control")}}
      </p>
    </div>
    <div class="form-group">
      {{form.cantidad.label}}
      <br />
      {{form.cantidad(class="form-control")}}
    </div>
    <p>
      {{form.submit()}}
    </p>
  </form>
</div>


<script>
  $(document).ready(function () {
    $("#mostrarformudc").click(function () {
      $("#udcform").show();
    });
  });
</script>

{% endblock %}