{% extends "basetabs.html" %} {% block body %}
<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Cartera</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-list-header
    ><h3>&emsp;Hola, <b> {{email}}</b></h3>
    <br />
    <h3>
      &emsp;Número de bloque: <b> {{w3.eth.blockNumber}}</b>
    </h3></ion-list-header
  >
  <ion-list-header
    ><ion-icon name="link-outline"></ion-icon>
    <h5>&emsp;Tu saldo actual es de <b> {{wallet}} UDC</b></h5></ion-list-header
  >
  <ion-list-header
    >  <button onclick="mostrarForm()" id="botonEnviarUdc">Enviar UDC</button>
    </ion-list-header
  >
  <!-- <ion-button expand="block">Enviar UDC</ion-button> -->
  <script>
    function mostrarForm() {
      document.getElementById("botonEnviarUdc").innerHTML = "Hello World";
      console.log("Hello world!");
      // document.getElementById("botonEnviarUdc").style.display = "none";
    }
  </script>
  <form></form>
</ion-content>
{% endblock %}
