{% extends "basetabs.html" %} {% block body %}
<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title> Ofertas </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Ofertas</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-content>
    <ion-list-header>
      <ion-label>Canjea tus UDC</ion-label>
      <ion-button (click)="abrirTutorial()">Ver ofertas</ion-button>
    </ion-list-header>
    <div id="listaofertas" id="tutorial" hidden="true">
      <ion-list>
        <ion-list-header>
          <ion-icon name="color-palette-outline"></ion-icon>
          <ion-label
            ><p>
              &emsp;
              <a href="https://www.guggenheim-bilbao.eus/horarios-y-tarifas"
                >20% de descuento en Museo Guggenheim</a
              >
            </p>
          </ion-label>
          <ion-label color="dark"><p align="right">30 UDC</p></ion-label>
        </ion-list-header>
        <ion-list-header>
          <ion-icon name="cafe-outline"></ion-icon>
          <ion-label
            ><p>
              &emsp;
              <a
                href="https://estudiantes.deusto.es/cs/Satellite/estudiantes/es/estudiantes_ud/comer-en-la-universidad/generico"
                >Café gratis</a
              >
            </p></ion-label
          >
          <ion-label color="dark"><p align="right">15 UDC</p></ion-label>
        </ion-list-header>
        <ion-list-header>
          <ion-icon name="color-palette-outline"></ion-icon>
          <ion-label
            ><p>
              &emsp;
              <a href="https://deustofit.deusto.es/">1 mes en DeustoFit</a>
            </p></ion-label
          >
          <ion-label color="dark"><p align="right">100 UDC</p></ion-label>
        </ion-list-header>
      </ion-list>
    </div>
  </ion-content>
</ion-content>
{% endblock %}
